.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.article-img {
  margin-top: 2rem;
  padding: 0.4rem;
  border-radius: 2rem;
  border-color: black;
  border-width: 0.1rem;
  border-style: solid;
  background-color: antiquewhite;
  box-shadow: 0.5rem 0.5rem goldenrod;
  max-width: 30rem;
  max-height: auto;
}

button {
  border-radius: 1rem;
}

.clicked-button {
  background-color: palegreen;
  border-radius: 1rem;
}

footer {
  text-align: left;
  background-color: blanchedalmond;
}

header {
  background-color: blanchedalmond;
  padding: 0.8rem;
}

.link {
  margin: 0.1rem 0.5rem;
  padding: 0.5rem;
  border-width: 0.1rem;
  border-color: black;
  border-style: solid;
  display: inline-block;
  background-color: rgb(190, 72, 30);
  font-weight: 500;
  color: white;
}

.link-selected {
  margin: 0.1rem 0.5rem;
  padding: 0.5rem;
  border-width: 0.1rem;
  border-color: black;
  border-style: solid;
  display: inline-block;
  background-color: yellow;
  font-weight: 500;
  color: black;
}

.posted-on {
  color: gray;
  margin-top: -0.6rem;
  font-size: 0.8rem;
}

.review-body {
  margin: 0% 20vw 2rem 20vw;
  text-align: justify;
}

.review-card {
  padding: 0.2rem;
  margin: 0.2rem;
  height: 3rem;
  list-style: none;
  background-color: aliceblue;
  border-color: black;
  border-style: solid;
}
