.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.article-img {
  width: 60%;
  padding: 1rem;
}

footer {
  text-align: left;
  background-color: blanchedalmond;
}

header {
  background-color: blanchedalmond;
  padding: 0.8rem;
}

.link {
  padding: 1.2rem;
}

.posted-on {
  color: gray;
  margin-top: -0.6rem;
  font-size: 0.8rem;
}

.review-body {
  margin: 0% 20vw;
  text-align: justify;
}

.review-card {
  padding: 0.2rem;
  margin: 0.2rem;
  height: 3rem;
  list-style: none;
  background-color: aliceblue;
  border-color: black;
  border-style: solid;
}
