.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

footer {
  text-align: left;
  background-color: blanchedalmond;
}

header {
  background-color: blanchedalmond;
  padding: 0.8rem;
}

.link {
  padding: 1.2rem;
}
